table {
	border-collapse: collapse;
    font-family: Tahoma, Geneva, sans-serif;
    width: 50vw;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}

thead{
    width: 100%;
    background-color: aquamarine;
}

thead tr{
    width: 100%;
}

thead tr th{
    width: 100%;
}

tbody div tr{
    width: 100%;
}

tbody div tr td{
    width: 100%;
    text-align: center;
    border : 1px solid black;
}

/* 
.tableLeftColumn{
    width: 500px;
    background-color: aqua;
}

.tableRightColumn{
    width: 50%;
    background-color: red;
}
 */

.noShow{
    display: none;
}

.bookingDropdown{
    width: 100%;
    background-color: #cacaca;
}