@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import "../stylings/root.css";

*{
    margin:0;
    padding: 0;
}

/* Holds everything in the navbar */
.headerOuterWrapper{
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    height: var(--header-Height);
    width: 100vw;
    z-index: 100;
}

/* Holds h1 and p tag */
.headerLogoWrapper{
    /* display: flex;
    flex-direction: column; */
    /* content:url("./../images/logo2.png");
    width: 20vw;
    height: 100%;
    background-color: grey; */
        width: 30vw; 
}

.headerTitle{
    color: black;
    z-index: 100;
}

.headerLogo{
    background-repeat: no-repeat;
    width: auto; 
    height: 10vh; 
    margin: 0;
    padding-left: 2vw;
}


.AdminSignInContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    width: 100vw;
    height: 5vh;
}



/* Holds nav links */

.navLinkWrapper{
        display: flex;
        /* justify-content: flex-start; */
    width: 70vw;
    justify-content: space-around;
}

.navUL {
    display: flex;
        
    flex-direction: row;
    list-style-type: none;
    /* font-size: 1.5rem; */
    width: 100%;
}


.navLink{
    display: flex;

    text-decoration: none;
    color: var(--bl-Black);
    /* margin-right: 4rem; */
    font-family: var(--paragraph-font-family);
    /* font-size: 1.5em; */
}

.navLinkLogoutButton{
    /*Reset's every elements apperance*/
        background: none repeat scroll 0 0 transparent;
        border: medium none;
        border-spacing: 0;
        color: #26589F;
        font-family: 'PT Sans Narrow',sans-serif;
        font-size: 16px;
        font-weight: normal;
        line-height: 1.42rem;
        list-style: none outside none;
        margin: 0;
        padding: 0;
        text-align: left;
        text-decoration: none;
        text-indent: 0;
    /*Reset's end*/

    color: black;
    font-size: 1.4rem;
    padding-bottom: 0.7vh;
    text-decoration: underline;
    color: var(--bl-Black);
    /* margin-right: 4rem; */
    font-family: var(--paragraph-font-family);
}

.navLinkLogoutButton:hover{
    color: var(--dk-Green);
    /* font-weight: 900; */
    cursor: pointer;
}

/* .navLink:active{
    text-decoration: underline;
    border-bottom: 2px var(--dk-Green) solid;
} */
.navLink:hover{
    text-decoration: underline;
    border-bottom: 4px var(--dk-Green) solid;
}
/* Holds hero */
