.HeroImage{
   position: fixed;
    z-index: -1;
    top: 100px;
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

@media screen and (max-width:1000px){
    .HeroImage{
        height: 60vh;
    }
}