@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import "../stylings/root.css";

*{
    margin:0;
    padding: 0;
}
/* Holds evething in the navbar */
.landingMainContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

/* Holds h1 and p tag */
.landingLogoContainer{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.landingTitle {
    margin-top: 0;
    text-align: left;
    font-family: var(--heading-font-family);
    padding-bottom: 1rem;
    font-size: 3rem;
}

.landingText{
    font-family: var(--paragraph-font-family);
    padding-bottom: 1rem;
    font-size: 1.5rem;
}

/* Holds nav links */
.navUL {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-size: 1.5rem;
}


.navLink{
    text-decoration: none;
    color: var(--bl-Black);
    margin-right: 4rem;
    font-family: var(--paragraph-font-family);
}

.navLink:active{
    text-decoration: underline;
    border-bottom: 2px var(--dk-Green) solid;
}
.navLink:hover{
    text-decoration: underline;
    border-bottom: 4px var(--dk-Green) solid;
}
/* Holds hero */
