@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

:root{
    --lg-Green:#469796;
    --bl-Black:#000000;
    --dk-Green:#367473;
    --lg-Grey:#D4D1D2;
    --wh-White:#FFFFFF;
    --deskeando-font-family:'Oxygen', sans-serif;
    --heading-font-family: 'Oxygen', sans-serif;
    --paragraph-font-family:'Oxygen', sans-serif;
    --form-background:#000000ce;
    --header-Height:10vh;
    --button-border-radius: 0.6rem;
    --faded-background-reset: rgb(0,0,0);
    --faded-background-set:  linear-gradient(90deg, rgba(0,0,0,0.7763480392156863) 0%, rgba(0,0,0,0.8463760504201681) 10%, rgba(0,0,0,0.8491771708683473) 90%, rgba(0,0,0,0.78) 100%);
}
    


/* Document level adjustments */

body {
  font-size: 18px;
}

@media only screen and (max-width: 700px) and (min-width: 0px) {
  html { font-size: 17px; }
  /* .footerContainer{
    color: blue;
  } */
    h1 {
    font-size: 2rem;
    }
    h2 {
      font-size: 1.7rem;
    }
    h3 {
      font-size: 1.4rem;
    }
    h4 {
      font-size: 1.2rem;
    }
    input{
        font-size: 1.2rem;
    }
    a{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 5000px) and (min-width: 700px) {
  html { font-size: 19px; }
  /* .footerContainer{
    color: red;
  } */
      h1 {
    font-size: 2.5rem;
    }
    h2 {
      font-size: 1.8rem;
    }
    h3 {
      font-size: 1.3rem;
    }
    h4 {
      font-size: 1.2rem;
    }
    input{
        font-size: 1.2rem;
    }
    a{
        font-size: 1.4rem;
    }
}


/* Type will scale with document */



