@import "../stylings/root.css";

.formSignIn {
    background-color: var(--bl-Black);
    opacity: 70%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30%;
    height: 15%;
    border-radius: 40px;
}

.formHeader{
    color: var(--wh-White);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--heading-font-family);
    font-weight: lighter;
    font-size: 3.5rem;
}

.formSubHeader{
    font-size: 2.5rem;
    font-family: var(--heading-font-family);
    font-weight: lighter;
    color: var(--wh-White);
    margin-bottom: 1rem;
}

.formLabelEmail{
    position: absolute;
    left: 10%;
}

.formLabelPassword{
    position: absolute;
    top: 50%;
    left: 10%;
}

.formInputField{
    width: 300px;
    padding: 15px 5px;
    font-size:1.8rem;
    border-radius: 40px;
}


.appButton{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 40px;
    font-size: 2.5rem;
    padding:20px;
    background-color: var(--dk-Green);
    color:var(--wh-White);
}







