.App {
  text-align: center;
}
/* .desks-17-to-22, .desks-23-to-30, .desks-41-to-50, .desks-31-to-40{
  margin-left:10vw;
} */
/*Floor plan*/
.floor-plan{
  width:45vw;
  height: 50vw;
  display:grid;
  gap:0;
  grid-template-areas:'From23To30 From41To50 From41To50 '
'. From31To40 From31To40 '
'From17To22 From9To16 From1To8'
'. From9To16 From1To8';


}
.desk{
  width:50px;
  height:50px;
    margin:3px 0;
}
.desk-space{
  width:110px;
}
.desks-1-to-8{
  grid-area:From1To8;
  display: flex;
  flex-wrap:wrap;
  /* justify-content: center; */
}
.desks-9-to-16{
  grid-area:From9To16;
  display: flex;
  flex-wrap:wrap;
}
.desks-23-to-30{

  grid-area:From23To30;
  display: flex;
  flex-wrap:wrap;
  align-self:center;
}
.desks-17-to-22{
  grid-area:From17To22;
  display: flex;
  flex-wrap:wrap;
  transform: rotate(90deg);
}
.desks-41-to-50{
  grid-area:From41To50;
  display: flex;
  flex-wrap:wrap;
  transform: rotate(90deg);
}
.desks-31-to-40{
  grid-area:From31To40;
  display: flex;
  flex-wrap:wrap;
  transform: rotate(90deg);
}

/* .right{
  background-image: url("../images/right_desk.svg");
  object-fit:contain;
}
.left{
  background-image: url("../images/left_desk.svg");
  object-fit:contain;
} */
.inactive{
    pointer-events: none;  
    filter: invert(0.8);
}
span{
  color:#ffffff;
}
/*Calendar*/
.future{
  background-color: red;
  width:auto;
  height:auto;
}
.past{
  background-color: orange;
  width:auto;
  height:auto;
}

.today{
  background-color: green;
  width:auto;
  height:auto;
}

.day-name{
  width:3rem;
  height:auto;
}
.blanks{
  background-color: purple;
  width:3rem;
  height:3rem;
}
.time{
  display:flex;
}
.calendar{
  width:50vw;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap:1rem;
}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
