.App {
  text-align: center;
}
/* .desks-17-to-22, .desks-23-to-30, .desks-41-to-50, .desks-31-to-40{
  margin-left:10vw;
} */
/*Floor plan*/

.BookingSvgWrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5vw;
    padding-bottom: 10vh;
    border-bottom: 2px solid black;
    height: 100vh;
}
.svg-wrapper{
  overflow:scroll;
  min-height:auto;
  display:grid;
  grid-template-columns: 1fr 1fr;
}
.kitchen{
  width:120px;
  height:260px;
  background:black;
}
.couch{
  width:200px;
  height:150px;
  background-repeat: no-repeat;

}
.common-table{
  width:50px;
  height:50px;
  background:red;
}
.floor-plan{
  width:65vw;
  height: 50vw;
  display:grid;
  gap:0;
  grid-template-areas:'From23To30 From41To50 From41To50 '
'. From31To40 From31To40 '
'From17To22 From9To16 From1To8'
'. From9To16 From1To8';


}
.desk{
  width:50px;
  height:50px;
    margin:3px 0;
}
.desk-space{
  width:110px;
}
.desks-1-to-8{
  grid-area: From1To8;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    height: 100px;
    margin-right: 257px;
}
.desks-9-to-16{
  height: 124px;
    grid-area: From9To16;
    display: flex;
    flex-wrap: wrap;
    margin-right: 5px;
}
.desks-23-to-30{
grid-area: From23To30;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    height: 124px;
    margin-top: 31px;
}
.desks-17-to-22{
  height: 100px;
    grid-area: From17To22;
    display: flex;
    flex-wrap: wrap;
    transform: rotate(90deg);
}
.desks-41-to-50{
  grid-area: From41To50;
    display: flex;
    flex-wrap: wrap;
    transform: rotate(90deg);
    height: 260px;
    margin-left: 94px;
}
.desks-31-to-40{
 grid-area: From31To40;
    display: flex;
    flex-wrap: wrap;
    transform: rotate(90deg);
    height: 153px;
    margin-left: 160px;
    margin-top: -76px;
}

/* .right{
  background-image: url("../images/right_desk.svg");
  object-fit:contain;
}
.left{
  background-image: url("../images/left_desk.svg");
  object-fit:contain;
} */
.inactive{
    pointer-events: none;  
    filter: invert(0.8);
}

.matchingAccessibility{
  background-color: #0A68B2;
}

span{
  color:#ffffff;
}

